<h2>Create Your Tweet:</h2>

  <form action='/tweets' method="post">
    <label for="content">Content: </label>
    <input type="text" name="content"><br><br>
    <input type="submit" id="submit" value= "Submit Tweet">
  </form>